/* if the container width is larger than the specified max width then the width of the element is equal the value that specified for max width

if the container width is less than the specified max width then the width of the element will be 100% of the container element width */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #555;
}

.header {
  color: rgb(45, 44, 44);
  display: flex;
  justify-content: space-between;
  /* background-color: #FFF; */

  /* giving max height to make sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  font-family: "Lobster", sans-serif;
}

.main-navigation-list {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-navigation-link:link,
.main-navigation-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 300ms;
}

.main-navigation-link:hover,
.main-navigation-link:active {
  color: #004d0a;
}

.main-navigation-link.nav-callToAction:link,
.main-navigation-link.nav-callToAction:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #004d0a;
}

.main-navigation-link.nav-callToAction:link,
.main-navigation-link.nav-callToAction:visited {
  background-color: #004d0a;
}

.d {
  color: #004d0a;
  font-size: 7rem;
}

.main-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-hero {
  background-color: #e2e2e2;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-image-box {
  filter: drop-shadow(10px 10px 0.75rem rgb(9, 34, 2));
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 7.6rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  line-height: 1.2;
  font-size: 4.4rem;
  margin-bottom: 6.4rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: #004d0a;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 3px;
}

.hero-description {
  font-weight: 350;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #e67e22;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
}

.btn--full:link,
.btn--full:visited {
  background-color: #004d0a;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  transition: all 500ms;
  background-color: #004d0ace;
}

.btn--outline:link,
.btn--outline:visited {
  font-style: italic;
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  color: #fff;
  background-color: #004d0a;
  transition: all 500ms;
  box-shadow: inset 0 0 0 3px #fff;
}

.hero-image {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.margin-right-small {
  margin-right: 2rem;
}

.delivered-meal {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-image {
  display: flex;
}

.delivered-image img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-image img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

/* create reuseable grid */

.container {
  max-width: 120rem;
  padding: 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-center-v {
  align-items: center;
}

.section-how {
  padding: 9.6px 0;
  /* background-color: rgb(133, 148, 132); */
}

.step-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-image-box::before {
  content: "";
  display: block;
  width: 400px;
  border-radius: 50%;
  height: 400px;
  background-color: rgba(60, 100, 60, 0.637);
  position: absolute;
  z-index: -1;
}

.step-image-box::after {
  border-radius: 50%;
  content: "";
  display: block;
  width: 350px;
  padding-bottom: 350px;
  background-color: rgba(46, 78, 46, 0.561);
  position: absolute;
  z-index: -1;
}

.step-images {
  width: 60%;
  height: 100%;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.header-featured-in {
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  text-align: center;
}

.business-insider,
.daily-tele,
.smooth-fm,
.sydney-mh,
.twam {
  width: 150px;
  height: 80px;
}

.logo-featured-in {
  display: flex;
  justify-content: space-around;
}