/* if the container width is larger than the specified max width then the width of the element is equal the value that specified for max width

if the container width is less than the specified max width then the width of the element will be 100% of the container element width */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #555;
}

.header {
  color: rgb(45, 44, 44);
  display: flex;
  justify-content: space-between;
  /* background-color: #FFF; */

  /* giving max height to make sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  font-family: "Lobster", sans-serif;
}

.main-navigation-list {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-navigation-link:link,
.main-navigation-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 300ms;
}

.main-navigation-link:hover,
.main-navigation-link:active {
  color: #004d0a;
}

.main-navigation-link.nav-callToAction:link,
.main-navigation-link.nav-callToAction:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #004d0a;
}

.main-navigation-link.nav-callToAction:link,
.main-navigation-link.nav-callToAction:visited {
  background-color: #004d0a;
}

.d {
  color: #004d0a;
  font-size: 7rem;
}

.main-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-hero {
  /* background-color: #f0f0f0; */
  padding: 4.8rem 0 9.6rem 0;
}

.hero-image-box {
  filter: drop-shadow(10px 10px 0.75rem rgb(9, 34, 2));
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 7.6rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  line-height: 1.2;
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.third-heading {
  line-height: 1.2;
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: #004d0a;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 3px;
}

.hero-description {
  font-weight: 350;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #e67e22;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
}

.btn--full:link,
.btn--full:visited {
  background-color: #004d0a;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  transition: all 500ms;
  background-color: #004d0ace;
}

.btn--outline:link,
.btn--outline:visited {
  font-style: italic;
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  color: #fff;
  background-color: #004d0a;
  transition: all 500ms;
  box-shadow: inset 0 0 0 3px #fff;
}

.hero-image {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.margin-right-small {
  margin-right: 2rem;
}

.delivered-meal {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-image {
  display: flex;
}

.delivered-image img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-image img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.section-featured {
  background-color: #f0f0f0;
}

/* create reuseable grid */

.container {
  max-width: 120rem;
  padding: 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-center-v {
  align-items: center;
}

.section-how {
  padding: 9.6px 0;
  /* background-color: rgb(133, 148, 132); */
}

.step-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-image-box::before {
  content: "";
  display: block;
  width: 400px;
  border-radius: 50%;
  height: 400px;
  background-color: rgba(60, 100, 60, 0.637);
  position: absolute;
  z-index: -1;
}

.step-image-box::after {
  border-radius: 50%;
  content: "";
  display: block;
  width: 350px;
  padding-bottom: 350px;
  background-color: rgba(46, 78, 46, 0.561);
  position: absolute;
  z-index: -1;
}

.step-images {
  width: 60%;
  height: 100%;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.header-featured-in {
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  text-align: center;
}

.business-insider,
.daily-tele,
.smooth-fm,
.sydney-mh,
.twam {
  width: 150px;
  height: 80px;
}

.logo-featured-in {
  display: flex;
  justify-content: space-around;
}

.meal {
  background-color: #f0f0f0
}

.meal-title,
.testimonial-title {
  text-align: center;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: #004d0a;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 3px;
}

.meal-container {
  display: grid;
  max-width: 140rem;
  padding: 3.2rem;
  margin: 0 auto;
  gap: 25px;
}

.vegetarian-wrapper,
.vegan-wrapper,
.non-vegetarian-wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.35);
  width: 350px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.meal-picture {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 350px;
  height: 350px;
  background-color: #f0f0f0;
}

.meal-picture img {
  /* transition: transform 1.5s ease; */
  transition: transform .5s ease-in-out;
  width: 175px;
  height: 175px;
  /* padding: 2px; */
}

.description,
.description ul {
  text-align: center;
  list-style: none;
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 5rem;
}

.meal-picture img:hover {
  transform: scale(1.5) rotate(10deg);
  z-index: 1;
}

.title-span {
  text-transform: uppercase;
  display: inline;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  color: #333;
}

.title-span--vegetarian {
  background: #51cf66;
}

.title-span--vegan {
  background: #94d82d;
}

.title-span--non-vegetarian {
  background: #c36200d3;
}

.meal-icon {
  width: 1.8rem;
  height: 1.8rem;
  color: #333;
}

.info-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.testimonial {
  margin-top: 8rem;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  background-color: #f0f0f098;
  padding: 5px;
  border-radius: 20px;
}

.text {
  margin: 10px;
}

.customer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.customer-info img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

.customer-location {
  color: rgb(60, 100, 60);
  font-weight: 700;
}

.container-testimonial {
  display: grid;
  max-width: 140rem;
  /* min-height: 100rem; */
  margin: auto;
}

.customer-1,
.customer-2,
.customer-3,
.customer-4,
.customer-5,
.customer-6 {
  margin: 2rem;
  display: flex;
  gap: 10px;
}

.fas {
  display: flex;
  justify-content: right;
  font-size: 6rem;
  opacity: 5%;
  text-align: center;
}